/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms;
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open{
    transform: scale(1);
    /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close{
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.container-all-shops {
    margin: 10px;
}

.all-shops-cards {
    display: inline-flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 300px;
  width: 200px;
}

.card-text {
    font-size: 12px;
    margin-bottom: 15px;
}

.single-shop-page {
   align-content: center;
   text-align: center;
}

.single-shop-name {
    align-content: center;
   font-size: 50px;
}


